javascript:
  window.frcp.plugins = {
    reorder_btn: true,
    custom_pages: true,
    recently_viewed: true,
    wishlist: true,
    loyalty: 'basic',
  }

  window.Shopify = {
    currency: {
      active: 'USD',
      rate: 1,
    },
    theme: {
      name: 'Local'
    },
    routes: {
      root: '/'
    }
  }
