<main class='customer-page-main'>
  <style>
    :root {
      --frcp-textColor: #202202;

      --frcp-backgroundColor:  #ffffff;
      --frcp-primaryColor:  #5873F9;
      --frcp-btnTextColor: #ffffff;
      --frcp-hoverOpacity:  0.7;

      /*--frcp-lightColor: {% if block.settings.style == 'light' %}0,0,0{% else %}255,255,255{% endif %} ;*/
      --frcp-lightColor:  0,0,0;
      /*--frcp-darkCoolor:  255,255,255;*/


      --frcp-lightBackground:  #E5E5E5;
      --frcp-lighterBackground: #F2F2F2;


      --frcp-borderStyle: 1px solid var(--frcp-lightBackground);
      --frcp-borderRadius: 4px;
      --frcp-shadow: 0px 2px 12px -2px var(--frcp-lightBackground);

      --frcp-navDesktopWidth: 240px;
      --frcp-desktopGutter: 32px;
      --frcp-maxWidth: 800px;

      --frcp-wishlist-borderRadius: 4px;
      --frcp-wishlist-shadow: none;
      --frcp-wishlist-addBtnTextColor: #ffffff;
      --frcp-wishlist-addBtnColor: #5873F9;
      --frcp-wishlist-removeBtnTextColor: #ffffff;
      --frcp-wishlist-removeBtnColor: #202202;
      --frcp-wishlist-hoverOpacity: 0.7;
      --frcp--productInputDimension: 32px;
      /*--frcp-borderRadius: {{ block.settings.border_radius }}{% if block.settings.border_radius > 0 %}px{% endif %}; ;*/
      /*--frcp-shadow: {% if block.settings.shadow %}0px 2px 12px -2px var(--frcp-lightBackground){% else %}none{% endif %};*/
    }
  </style>
  
  <div class='frcp-app-wrapper'></div>
</main>
