:root {
  --frcp-popupColor: #545454;
  --frcp-popupBackground: #fff;
  --frcp-swalPopupUnderlay: rgba(0, 0, 0, .4);
  --frcp-errorBackground: #e79d9f;
  --frcp-errorColor: #545454;
  --frcp-errorIconColor: #C40000;
  --frcp-successBackground: #F0F9EA;
  --frcp-successIconColor: #a5dc86;
  --frcp-successColor: #545454;
  --frcp-textAlignRight: right;
}
